<nav class="nav-inferior">
  <a routerLink="/" routerLinkActive="nav-inferior__item--ativo" [routerLinkActiveOptions]="{ exact: true }">
    <app-icone nome="inicio" />
    <span>Início</span>
  </a>
  <a routerLink="/loja" routerLinkActive="nav-inferior__item--ativo">
    <app-icone nome="loja" />
    <span>Loja</span>
  </a>
  <a routerLink="/eventos" routerLinkActive="nav-inferior__item--ativo">
    <app-icone nome="eventos" />
    <span>Eventos</span>
  </a>
  <a routerLink="/perfil" routerLinkActive="nav-inferior__item--ativo">
    <app-icone nome="usuario" />
    <span>Perfil</span>
  </a>
</nav>
